//-----------------------------------------------
// Base Color
//-----------------------------------------------
$app-background: #859CC2;
$app-foreground: #FFFFFF;

//-----------------------------------------------
// Text colors
//-----------------------------------------------
$bright-text: #FFFFFF;
$dark-text: #040404;

//-----------------------------------------------
// CALL TO ACTION - colors
//-----------------------------------------------
$cta-base: #FF1B5F;
$cta-base-text: #FFFFFF;
$cta-hover: darken($cta-base, 10%);
$cta-hover-text: #FFFFFF;

// #DDE8F9
// #C5B697
// #383838
// #775D46

$background: #DDE8F9;
$lighter-brown: #DAC4A5;
$light-brown: #C5B697;
$dark-brown: #765D46;
$light-black: #464646;
$black: #383838;
$gray: #A2A2A2;
$light-gray: #F2F2F2;
